
/* @font-face {
                          
  font-family: 'El Messiri';
  font-style:normal;
  font-weight: 400;
  font-display: swap;
  src: url("/custom_addons/hr_system_test/static/src/fonts/myfont.woff2") format('truetype');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;

} */

*{ font-family: 'El Messiri', sans-serif;}


.page {
  font-family: 'El Messiri', sans-serif;
  color: #444444;
  /* margin: 20mm; */
  background-image: url('/hr_system_test/static/src/img/hero-bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 5px;
}

.our_emp_details{
  background-color: #4154f1;
  color: #f6f9ff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td ,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-family: 'El Messiri', sans-serif;
  
}

table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}

table tr:nth-child(odd) {
  background-color: #4154f1;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: 'El Messiri', sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 20mm 0;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 200px;
 
}
.hero h1 {
  margin: 5px;
  font-size: 50px;
  font-weight: 700;
  color: #012970;
  font-family: 'El Messiri', sans-serif;
  }
  
  .hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: 'El Messiri', sans-serif;
  }

.hero .hero-img {
 position: absolute;
  top: 0;
  right: 0;
  
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: scroll;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 0;
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 0;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
    font-family: 'El Messiri', sans-serif;
  }

  .hero h2 {
    font-size: 24px;
    font-family: 'El Messiri', sans-serif;
  }

  .hero .hero-img img {
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 10mm 0;
  font-size: 14px;
  font-family: 'El Messiri', sans-serif;
}

.footer .copyright {
  text-align: center;
  padding-top: 10mm;
  color: #012970;
  
  font-family: 'El Messiri', sans-serif;
}





